#all
/*

!/.config
/.config/*

#awesome
!/.config/awesome

#kde
!/.config/konsolerc
!/.local
/.local/*
!/.local/share
/.local/share/*
!/.local/share/konsole

#htop
!/.config/htop
/.config/htop/*
!/.config/htop/htoprc

#ranger
!/.config/ranger
/.config/ranger/*
!/.config/ranger/rc.conf
!/.config/ranger/rifle.conf
!/.config/ranger/scope.sh
!/.config/ranger/bookmarks

#vscode
!/.config/Code
/.config/Code/*
!/.config/Code/User
/.config/Code/User/*
!/.config/Code/User/snippets
!/.config/Code/User/keybindings.json
!/.config/Code/User/settings.json

#vim
!/.vim
/.vim/*
!/.vim/bundle
/.vim/bundle/*
!/.vim/snippets
!/.vim/tmp
/.vim/tmp/*
/.vim/tmp/.*
!/.vim/tmp/.gitkeep
!/.vim/view
/.vim/view/*
!/.vim/view/.gitkeep

#etc
!/documents
/documents/*
!/documents/scripts
!/documents/configs
/documents/configs/prosto.insure/*

#files
!.gitconfig
!.gitignore
!.vimrc*
!.npmrc
!.zshrc
!.Xdefaults
!.Xresources
