#all
/*

!/.config
/.config/*

#awesome
!/.config/awesome

#htop
!/.config/htop
/.config/htop/*
!/.config/htop/htoprc

#ranger
!/.config/ranger
/.config/ranger/*
!/.config/ranger/rc.conf
!/.config/ranger/rifle.conf
!/.config/ranger/scope.sh
!/.config/ranger/bookmarks

#vim
!/.vim
/.vim/*
!/.vim/bundle
/.vim/bundle/*
!/.vim/snippets
!/.vim/tmp
/.vim/tmp/*
/.vim/tmp/.*
!/.vim/tmp/.gitkeep
!/.vim/view
/.vim/view/*
!/.vim/view/.gitkeep

#vimperator
!/.vimperator
/.vimperator/*
!/.vimperator/plugin

#etc
!/documents
/documents/*
!/documents/scripts
!/documents/configs

#files
!.gitconfig
!.gitignore
!.vimperatorrc
!.vimrc*
!.wegorc
!.bashrc
!.zshrc
!.Xdefaults
!.Xresources
