#all
/*

!/.config
/.config/*

#ranger
!/.config/ranger
/.config/ranger/*
!/.config/ranger/rc.conf
!/.config/ranger/rifle.conf
!/.config/ranger/scope.sh
!/.config/ranger/bookmarks

#vim
!/.vim
/.vim/*
!/.vim/bundle
/.vim/bundle/*
!/.vim/snippets
!/.vim/tmp
/.vim/tmp/*
/.vim/tmp/.*
!/.vim/tmp/.gitkeep
!/.vim/view
/.vim/view/*
!/.vim/view/.gitkeep

#etc
!/documents
/documents/*
!/documents/scripts
!/documents/configs

#files
!.gitconfig
!.gitignore
!.vimrc*
!.npmrc
!.zshrc
