QTabBar {
    background: #31363b;
}
QTabBar::tab {
    padding: 5px 30px;
    background: #31363b;
    border-left: 1px solid #7d7d7d;
    color: #366d8a;
}
QTabBar::tab::selected {
    color: #95d49a;
}
